{{define "header"}}
<div class="bg-green-600 text-white">
    <div class="max-w-screen-xl flex items-center justify-between mx-auto py-3" >
        <a href="/" class="flex items-center">
            <img class="w-10 h-10 mr-3 fill-white stroke-white" src="/public/frog.svg"/>
            <span
                class="self-center text-3xl font-semibold whitespace-nowrap dark:text-white"
                >FrogBoard</span
            >
        </a>
        <nav class="text-1xl">
            <a class="pl-2 pr-3" href="/boards">Boards</a>
            <a class="pl-2 pr-3" href="/login">Login</a>
        </nav>
    </div>
</div>
{{end}}
