{{define "post"}}
<div class="flex flex-col bg-gray-100 text-xs w-full items-start md:flex-row md:text-base p-2 mb-2">
    {{if eq .GetType "thread"}}
    <span class="pb-2 md:pb-0 md:pr-2 font-semibold">{{.Title}}</span>
    {{end}}
    <time class="pb-2 md:pb-0 md:pr-2" datetime="{{.FormatCreationDate}}">{{.CreatedAt}}</time>
    <a class="text-blue-500" href="/{{.BoardID}}/{{.ID}}/">>> {{.ID}}</a>
</div>
<div class="flex space-x-2 mb-3">
    {{range .Files}}
    <div class="flex flex-col items-center">
        <a class="text-blue-500 underline mb-1" href="/file/{{.ID}}/">{{.Name}}</a>
        {{if .ContainsImage}}
        <div class="post-img cursor-pointer">
            <img src="/file/{{.ID}}/thumb/" width="200" height="200" alt="Thumbnail for post image" />
            <img class="hidden" src="/file/{{.ID}}/" alt="Post image" />
        </div>
        {{else}}
        <a href="/file/{{.ID}}/"><img width="200" height="200" src="/public/file.png" alt="Thumbnail for post file" /></a>
        {{end}}
    </div>
    {{end}}
</div>
<p class="mb-2 mx-2">{{.FormatedContent .BoardID}}</p>    
{{end}}