{{define "post"}}
<div class="flex flex-col bg-gray-200 text-xs w-full items-start md:flex-row md:text-base p-2 mb-2 space-y-2 md:space-y-0 md:space-x-2">
    {{if eq .GetType "thread"}}
    <span class="font-semibold">{{.Title}}</span>
    {{end}}
    <time datetime="{{.FormatCreationDate}}">{{.CreatedAt}}</time>
    <a class="text-blue-500 hover:underline" href="/{{.BoardID}}/{{.ID}}/">No. {{.ID}}</a>
    <div class="flex space-x-2">
        {{range .Citations}}
            <a data-post="{{.PostID}}" class="post-link text-blue-500 underline testing" href="/{{.BoardID}}/{{.PostID}}/">>> {{.PostID}}</a>
        {{end}}
    </div>
</div>
<div class="p-2">
    <div class="flex flex-col md:flex-row flex-wrap space-x-2 mb-3">
        {{range .Files}}
        <div class="flex flex-col items-center md:items-start m-1 md:m-0">
            <a class="inline-block overflow-hidden whitespace-nowrap text-sm overflow-ellipsis hover:overflow-visible hover:whitespace-normal hover:break-words text-blue-500 underline mb-1 max-w-[10em]" href="/file/{{.ID}}/">{{.Name}}</a>
            {{if .ContainsImage}}
            <div class="post-img flex justify-center cursor-pointer">
                <img class="max-w-[35vw] md:max-h-[200px]" src="/file/{{.ID}}/thumb/" alt="Thumbnail for post image" />
                <img class="hidden" src="/file/{{.ID}}/" alt="Post image" />
            </div>
            {{else}}
            <a class="block w-1/4 md:w-[150px] md:h-[150px]" href="/file/{{.ID}}/"><img src="/public/file.png" alt="Thumbnail for post file" /></a>
            {{end}}
        </div>
        {{end}}
    </div>
    <p class="mb-2 mx-2 whitespace-pre-wrap">{{.FormatedContent}}</p>
</div>   
{{end}}