{{define "content"}}
<div class="flex flex-col items-center justify-center">
    <h1 class="font-semibold text-4xl mb-3">Post Deletion</h1>
    <p class="text-xl">Do you really want to delete this post</p>
    <div class="bg-gray-50 border border-gray-300 rounded-md m-2 md:w-fit">
        {{template "post" .Post}}
    </div>
    <div class="flex space-x-3 w-full items-center justify-center">
        <a class="text-white bg-blue-700 hover:bg-blue-800 text-center rounded-lg px-5 py-2.5 text-sm" href="/{{.BoardID}}/">No</a>
        <form method="post">
            <button type="submit" class="text-white bg-red-700 hover:bg-red-800 px-5 py-2.5 text-center rounded-lg text-sm w-full">Yes</button>
        </form>
    </div>  
</div>
{{end}}