{{define "content"}}
    <div class="flex items-center flex-col w-full px-3 md:px-0 md:w-auto md:max-w-[80vw] md:min-w-[30vw]">
        <form method="post" class="md:w-1/2 m-2 md:border md:border-gray-200 md:p-3 md:rounded-lg">
            <h2 class="text-xl font-semibold mb-2">Post a reply</h2>
            <div class="flex flex-col mt-2">
                <label for="content" class="block mb-2 text-sm font-medium text-gray-900">Content</label>
                <textarea name="content" cols="30" rows="10" class="p-2 rounded-lg bg-gray-50 border border-gray-300 text-gray-900"></textarea>
            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 text-center rounded-lg px-5 py-2.5 text-sm mt-2 w-full md:w-auto">Submit</button>
        </form>
    {{with .Thread}}
        <div class="flex flex-col border border-gray-300 rounded-md shadow my-2 w-full">
            <div id="p{{.ID}}" class="flex flex-col bg-gray-100 text-xs w-full items-start md:flex-row md:text-base p-2 mb-2">
                <span class="pb-2 md:pb-0 md:pr-2 font-semibold">{{.Title}}</span>
                <time class="pb-2 md:pb-0 md:pr-2" datetime="{{.FormatCreationDate}}">{{.CreatedAt}}</time>
                <a class="text-blue-500" href="#p{{.ID}}">>> {{.ID}}</a>
            </div>
            <div class="flex space-x-2 mb-3">
        {{range .Files}}
                <div class="flex flex-col items-center">
                    <a class="text-blue-500 underline mb-1" href="/file/{{.ID}}/">{{.Name}}</a>
            {{if .ContainsImage}}
                    <div class="post-img cursor-pointer">
                        <img src="/file/{{.ID}}/thumb/" width="200" height="200" alt="Thumbnail for post image" />
                        <img class="hidden" src="/file/{{.ID}}/" alt="Post image" />
                    </div>
            {{else}}
                    <a href="/file/{{.ID}}/"><img width="200" height="200" src="/public/file.png" alt="Thumbnail for post file" /></a>
            {{end}}     
                </div>  
        {{end}}
            </div>
            <p class="mb-2 mx-1">{{.FormatedContent .BoardID}}</p>
    {{end}}
            <div class="flex flex-col justify-start w-full">
    {{range .Replies}}
                <div id="p{{.ID}}" class="border border-gray-300 rounded-md w-fit m-1">
                    <div class="flex flex-col bg-gray-100 text-xs w-full items-start md:flex-row md:text-base p-2 mb-2">
                        <time class="pb-2 md:pb-0 md:pr-2" datetime="{{.FormatCreationDate}}">{{.CreatedAt}}</time>
                        <a class="text-blue-500" href="#p{{.ID}}">>> {{.ID}}</a>
                    </div>
                    <div class="flex space-x-2 mb-3">
        {{range .Files}}
                        <div class="flex flex-col items-center">
                            <a class="text-blue-500 underline mb-1" href="/file/{{.ID}}/">{{.Name}}</a>
            {{if .ContainsImage}}
                            <div class="post-img cursor-pointer">
                                <img src="/file/{{.ID}}/thumb/" width="200" height="200" alt="Thumbnail for post image" />
                                <img class="hidden" src="/file/{{.ID}}/" alt="Post image" />
                            </div>
            {{else}}
                            <a href="/file/{{.ID}}/"><img width="200" height="200" src="/public/file.png" alt="Thumbnail for post file" /></a>
            {{end}}     
                        </div>  
        {{end}}
                    </div>
                    <p class="mb-2 mx-1">{{.FormatedContent .BoardID}}</p>
                </div>
    {{end}}
            </div>
        </div>
    </div>
{{end}}