{{define "content"}}
<div class="flex flex-col items-center justify-center">
    <h1 class="font-semibold text-4xl mb-3">Do you want to delete user: {{.User.Username}}?</h1>
    <div class="flex space-x-3 w-full items-center justify-center">
        <a class="text-white bg-blue-700 hover:bg-blue-800 text-center rounded-lg px-5 py-2.5 text-sm" href="/admin/">No</a>
        <form method="post">
            <button type="submit" class="text-white bg-red-700 hover:bg-red-800 px-5 py-2.5 text-center rounded-lg text-sm w-full">Yes</button>
        </form>
    </div>  
</div>
{{end}}